body {
  padding: 0;
  margin: 0;
  min-width: 100vh;
}

h1 {
  max-width: 300px;
  text-align: center;
  margin: auto;
  justify-content: center;
  background: linear-gradient(to right, cyan, violet, purple, indigo);
  font-size: clamp(3rem, 2.5vw, 4rem);
  background-clip: text;
  color: transparent;
}

table,
thead,
tbody,
tr,
td,
th {
  border-collapse: collapse;
  padding: 10px;
}

table {
  margin: auto;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

thead {
  background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
  color: white;
}

thead th {
  letter-spacing: 1px;
  font-size: 16px;
}

tbody tr:nth-child(even) {
  background-color: #f1f1f1;
}

tbody tr {
  background-color: #f9f9f9;
  transition: background-color 0.3s ease;
}

tbody tr:hover {
  background-color: #e1e1e1;
}

tbody tr:hover td {
  background-color: #e0e0e0;
}

tr> td {
    text-align: center;
    font-size: 14px;
  border-bottom: 1px solid #ddd;
  color: #610606;
}
